default:
    suites:
        dice:
            paths:
                - features/rules/dice
            contexts:
                - App\Context\Rules\Dice\DiceSetContext
        character:
            paths:
                - features/rules/character
            contexts:
                - App\Context\Rules\Character\CharacterContext
                - App\Context\Rules\Character\Ancestry\AncestryContext
        campaign:
            paths:
                - features/rules/campaign
            contexts:
                - App\Context\Rules\Campaign\CampaignContext
                - App\Context\Rules\Campaign\Period\PeriodContext
        player:
            paths:
                - features/rules/player
            contexts:
                - App\Context\Rules\Player\PlayerContext
