<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title '' %}</title>
    {{ encore_entry_link_tags('css/app') }}
</head>
<body>

{#{% include 'navbar.html.twig' %}#}

<section class="section">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</section>

{{ encore_entry_script_tags('js/vendor') }}
{{ encore_entry_script_tags('js/app') }}

</body>
</html>
